form{
    display: flex;
    flex-direction: column;
    gap:10px;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 15px;
}

button[type="submit"]{
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 15px;
    background-color: rgb(26, 71, 186);
    color: white;
    transition: 0.15s ease;
}

button[type="submit"]:hover{ 
    background-color: rgb(60, 99, 197);   
}

button[type="submit"]:active{   
    background-color: rgb(1, 56, 196);  
}

#errors{
    color: red;
}