.form-container{
    width: 4rem;
    margin:auto;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0,);
}

form{
    display: flex;
    flex-direction: column;
}

input[type="text"]{
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 15px;
}

input[type="button"]{
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 15px;
    background-color: rgb(26, 71, 186);
    color: white;
}